* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 900px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.items {
    position: relative;
    width: 700px;
    height: 300px;
    background-color: grey;
}

.item {
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    transition: all 0.2s;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

img.active {
    display: block;
}

.prev,
.next {
    width: 20px;
    height: 20px;
    margin: 10px 0;
    border-radius: 50%;
    background: #ccc;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
    z-index: 999;
}

.next {
    bottom: 0;
}

.prev::after {
    content: '';
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    border-top: 1px solid black;
    border-right: 1px solid black;
    display: block;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%) rotate(-45deg);
}

.next::before {
    content: '';
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    border-top: 1px solid black;
    border-right: 1px solid black;
    display: block;
    position: absolute;
    bottom: 35%;
    left: 50%;
    transform: translate(-50%) rotate(135deg);
}

.thumbnail {
    height: 300px;
    width: 140px;
}

.thumbnail-container {
    height: calc(100% /5);
    filter: brightness(50%);
}

.thumbnail-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumbnail-active {
    filter: brightness(100%);
    border: 2px solid yellow;
}

[v-clock] {
    display: none;
}